<h1>New game</h1>

<div class="d-flex flex-row bd-highlight mb-3">
  <% @grid.each do |c| %>
    <div class="p-2 me-2 border border-primary"><%= c %></div>
  <% end %>
</div>
<p>What is the longest word you can find?</p>
<form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input type="hidden" name="grid" value=<%= @grid.join(",") %>>
    <input type="submit" value="Play!">
</form>
